@{
    ViewBag.Title = "EmployeeHome";
}

<h2>EmployeeHome</h2>

<div class="navbar-collapse collapse">
   <ul class="nav navbar-nav">

           <li>@Html.ActionLink("View Remark", "ViewRemark", "HR")</li>
      
   </ul>
</div>