@{
    ViewBag.Title = "HRHome";
}

<h2>HRHome</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        <li>@Html.ActionLink("Add Employee", "AddEmployee", "HR")</li>


        <li>@Html.ActionLink("Add Remark", "AddRemark", "HR")</li>


        <li>@Html.ActionLink("Change Password", "Manage", "Account")</li>
      
    </ul>
</div>
